* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}


h3{
    text-align: center;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.titolo{
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

.menu-social{
    margin-top: 70px;
    cursor: pointer;
}


.menu:hover{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    
}

.loghi{
    color: #ffffff;
    width: 30px;
    height: 30px;
}

.active{
    text-decoration: underline;
    font-weight: bold;
}

.cerca{
    padding: 6px;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 17px;
    width: 200px;
    background-color: #212D87;
}

.logocerca{
    margin-left: 10px;
    color: #ffffff;
    cursor: pointer;
}

/*  GRID  */
.sidebar {
    grid-area: sidebar;
}

.banner{
    width: 100%;
    height: 100vh;
    background: url(img/banner.png) no-repeat center center;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* default mobile, ma da mettere a scomparsa la sidebar... */
.container-grid {
    display: grid;
    grid-template-areas: "sidebar""main""footer";

}

.sidebar {
    position: fixed;
    height: 100vh;
    color: #ffffff;
    background-color: #212D87;
    padding: 1rem;
    z-index: 999;
}

.menu-social a {
    color: #ffffff;
    text-decoration: none;
}

.menu-social li {
    list-style-type: none;
    padding: 1rem;
}

.content {
    padding: 2rem;
}

/* CHI SIAMO */

.rettangolochisiamo{
    background-color: #515BD4;
    width: auto;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.chisiamo{
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.rettangolo-bianco{
    height: 50px;
    width: 200px;
    background-color: #ffffff;
    border: #515BD4 solid 2px;
}

.chisiamotesto{
    color: #ffffff;
    font-size: 18px;
    padding-right: 100px;
    float: right;
    width: 800px;
    text-align: center;
}

/* IDEE DI VIAGGIO */

.rettangoloviaggio{
    background-color: #737BE1;
    height: 500px;
    width: auto;
    padding:10px;
    margin-top: 20px;
    box-shadow: 5px 10px 8px #888888;
}

.rettangolo-bianco-viaggio{
    height: 50px;
    width: 300px;
    background-color: #ffffff;
    border: #515BD4 solid 2px;
    float: right;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 100px;
}

.mare{
    background-image: url(img/mare.jpg) no-repeat center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
}

.montagna{
    background-image: url(img/montagna.jpg) no-repeat center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
}

.lago{
    background-image: url(img/lago.jpg) no-repeat center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
}

.citta{
    background-image: url(img/citta.jpg) no-repeat center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
}

.campagna{
    background-image: url(img/campagna.jpg) no-repeat center center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
}

.bottone{
    border: 1px solid #212D87;
    background-color: #212D87;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.bottone1{
    border: 1px solid #212D87;
    background-color: #212D87;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.esplora{
    text-align: center;
    color: #ffffff;
    margin: auto;
    margin-top: 40px;
}

.pos1{
    position: relative;
    overflow: hidden; 
    z-index: 1;
}

.pos2{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white; 
    /* Posizionamento assoluto */
    bottom: -50px;
    left: 0px;
    transition: all 0.5s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.pos2:hover{
    color: white;
    bottom: 5px;
}

.arrow,
.arrow:before {
  display: block;
  margin-left: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.immagini-animali{
    margin-top: 30px;
    display: flex;
    box-shadow: 5px 10px 8px #888888;
}

.paesaggi{
    width: 500px;
    height: auto;
}
.testo-milano{
    padding: 50px;
    background-color: rgba(0, 17, 255, 0.6);
}

.testo-mucca{
    padding: 50px;
    background-color: rgba(11, 18, 122, 0.6);
}

.testo-strada{
    padding: 50px;
    background-color: rgba(87, 204, 204, 0.6);
}

.testo-spiaggia{
    padding: 50px;
    background-color: rgba(14, 131, 14, 0.6);
}


.scopri{
    border: 1px solid #212D87;
    background-color: #212D87;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 140px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(82, 167, 25);
}
  
a {
    text-decoration: underline;
    color: #000000;
}

.socials {
    color: #212D87;
    padding: 20px;
    font-size: 20px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}
/* NEWSLETTER */

form {
    border: 4px solid #f1f1f1;
}
  
.container {
    padding: 20px;
    background-color: #90f187bb;
    font-size: 14px;
    text-align: center;
}

.container1 {
    padding: 20px;
    font-size: 14px;
    width: 200px;
    display: flex;
    margin: auto;
}


input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}
  
input[type=submit] {
    background-color: rgba(14, 131, 14, 0.9);
    color: white;
    border: none;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

.nwl{
    font-size: 20px;
    text-align: center;
}

.nwlp{
    font-size: 16px;
    text-align: center;
}

.nwlpsubmit{
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.newsletterform{
    margin-bottom: 30px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1400px) {

    body{
        margin: auto;
    }

    .banner{
        height: 900px;
    }

    .sidebar {
      width: 100%;
      height: auto;
      display: block;
      position: fixed;
      z-index: 999;
      grid-area: sidebar;
    }

    .menu-social{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        font-size: 14px;
        margin-top: 80px;
    }

    .cerca{
        width: 200px;
        height: 20px;
    }

    .titolo {
        position: absolute;
    }

    .chisiamotesto{
        padding: 10px;
    }

    .scopri{
        width: 120px;
        height: auto;
        text-align: center;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .sidebar li {float: left;}
    div.content {margin-left: 0;}
    
} 
  
@media screen and (max-width: 500px) {
    .sidebar a {
      text-align: center;
      float: center;
    }
    
    .menu-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        font-size: 14px;
        margin-top: 70px;
    }

    .titolo {
        position: absolute;
    }

    .chisiamotesto{
        padding: 10px;
    }

    .scopri{
        width: 120px;
        height: auto;
        text-align: center;
    }

    
}

@media (min-width: 1400px) {
    .container-grid {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "sidebar main"
            "sidebar footer"
        ;
    }

    
}

